{% extends 'index.html' %}

{% block content %}
    <!-- Login Start -->
        <div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
            <div class="container">
                <div class="row g-5 mb-5">
                    <div class="col-lg-4 col-md-6">
                        <div class="bg-primary border-inner text-center text-white p-5">
                            <i class="bi bi-geo-alt fs-1 text-white"></i>
                            <h6 class="text-uppercase my-2">Our Office</h6>
                            <span>123 Street, New York, USA</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="bg-primary border-inner text-center text-white p-5">
                            <i class="bi bi-envelope-open fs-1 text-white"></i>
                            <h6 class="text-uppercase my-2">Email Us</h6>
                            <span>info@example.com</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="bg-primary border-inner text-center text-white p-5">
                            <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                            <h6 class="text-uppercase my-2">Call Us</h6>
                            <span>+012 345 67890</span>
                        </div>
                    </div>
                </div>
        <div class="container-fluid contact position-relative px-5" style="margin-top: 90px;"></div>
        <div class="contact" style="margin-top: 90px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-error">{{ form.non_field_errors }}</div>
                            <div class="row gy-4">
                                {% for field in form %}
                                    <p><label class="form-label" for="{{ field.id_for_label }}">{{field.label}}: </label>{{ field }}</p>
                                    <div class="form-error">{{ field.errors }}</div>
                                {% endfor %}
                            </div>
                            <div class="text-center"><button type="submit">Register</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
    <!-- Login End -->
{% endblock %}