<!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-primary me-3"></i>CakeZone</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <a href="{% url 'home:home' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'menu:index' %}" class="nav-item nav-link active">Menu & Pricing</a>
                <a href="{% url 'masters_chefs:masters_chefs' %}" class="nav-item nav-link active">Masters</a>
                <a href="{% url 'our_service:services' %}" class="nav-item nav-link active">Service</a>
                <a href="{% url 'contact_us:contact' %}" class="nav-item nav-link active">Contacts</a>
                <a href="{% url 'subscribe' %}" class="nav-item nav-link active">Subscribe</a>
                <a href="{% url 'register' %}" class="nav-item nav-link active">Register</a>
                <a href="{% url 'login' %}" class="nav-item nav-link active">Login</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
